body {
    font-family: 'Arial', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,131,229,1) 0%, rgba(14,163,219,1) 34%, rgba(42,172,221,1) 43%, rgba(220,232,234,1) 100%);
    margin: 0;
}

.text{
    font-weight: 1000;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgb(238,248,255);
    background: linear-gradient(135deg, rgba(238,248,255,1) 15%, rgba(237,228,247,1) 29%, rgba(224,176,211,1) 61%, rgba(254,156,226,1) 95%);
    padding: 20px;
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    border-radius: 8px;
  
}


input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 500px;
    background-color: transparent;

    &:focus {
      outline-color: #f8b195;
    }
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -webkit-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }

  input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }

  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #f8b195;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: #222
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
}


  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }



h1 {
    text-align: center;
    color: #333;
}

.displaycontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.display {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button img {
    margin-right: 5px;
}

.input-container {
    margin-top: 20px;
}

.length-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-bottom: 8px;
}

.strength-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

[data-indicator] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.generate-button {
    background-color: #50ba18;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}


.input-container{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}
.button-2 {
    position: relative;
    right: -160px;
    color: #fff;
    border: 3px solid #c266d3;
    background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
    background-image: linear-gradient(30deg, #c72c9b 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .button-2:hover {
    background-position: 100%;
    background-color: #ab4cbc;
    color: #e7dee7;
  }
  .pl{
    font-size: large;
    font-weight: 1000;
  }
  

